export(DDI)
export(DER)
export(ET)
export(TDEW)
export(aggregate_daily)
export(air_humidity)
export(dataframe2zoo)
export(dew_temperature_from_temperature_RH)
export(saturated_water_vapor_pressure)
export(temperature_from_saturated_water_vapor_pressure)
